{% extends 'template.html' %}

{% block head %}
    <title>PyReminder</title>
{% endblock %}

{% block body %}
    <div id="main">
    <div id="logo"><h1><span style="color: #FFE873">Py</span><span style="color:#4B8BBE">Reminder</span></h1></div>
    {% if current_user.is_authenticated %}
        Welcome {{ current_user.username }}! 
    {% else %}
        PyReminder is a tool that's allow you to never forget about your's important plans. <br>
        <a href="{{ url_for('register') }}">Register now</a> or <a href="{{ url_for('login') }}">log to existing accoutn!</a>      
    {% endif %}
{% endblock %}