{% extends 'template.html' %}

{% block head %}
    <title>PyReminder</title>
{% endblock %}

{% block body %}
    <div id="main">
    <div id="logo"><h1><span style="color: #FFE873">Py</span><span style="color:#4B8BBE">Reminder</span></h1></div>
    {% if current_user.is_authenticated %}
        Welcome {{ current_user.username }}! 
        <a href="{{ url_for('logout') }}">Logout</a> <br>
        <form action="{{ url_for('addTask') }}" method="post">
            {{ form.title.label }}<br>{{ form.title() }} <br>
            {{ form.description.label }}<br>{{ form.description() }} <br>
            {{ form.termDate.label }}<br>{{ form.termDate() }} <br>
            {{ form.termTime.label }}<br>{{ form.termTime() }} <br>
            <input type="submit" value="Add Task">
        </form>
        <div id="list">
            {% if tasks.count() == 0 %}
                There's nothing to remind you.
            {% else %}         
                {% for task in tasks %}
                    <div class="task">
                        <h4>{{ task.title }}</h4>
                        {{ task.description }} <br>
                        {{ task.termDate }} {{ task.termTime}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        PyReminder is a tool that's allow you to never forget about your's important plans. <br>
        <a href="{{ url_for('register') }}">Register now</a> or <a href="{{ url_for('login') }}">log to existing accoutn!</a>   
    {% endif %}
{% endblock %}